In [1]:
from yucascraper.scrapers.terrenos import lamudi,goodlers,easybroker,inmuebles24,metros_cubicos
import pandas as pd
import time
import random
from matplotlib import pyplot as plt
from sqlalchemy import create_engine
from github import Github, GithubException

In [2]:
#Se crea función para subir archivo a GitHub
def push_request(df, nombre_archivo,commit_message,carpeta):
    repo_name = "vivi_yuca_result"    
    repo_owner = "claudiodanielpc"
    github={'github': {'token': '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'}}
    #Token de acceso a GitHub
    g = Github(github["github"]["token"])
    #Se establece el repositorio
    repo=g.get_repo("claudiodanielpc/vivi_yuca_result")
    #repo = g.get_repo(f"{repo_owner}/{repo_name}")
    
    try:
        file = repo.get_contents(f"{carpeta}/{nombre_archivo}")
        # Actualizar archivo
        repo.update_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False,encoding="utf-8-sig"), file.sha, branch="main")
        print("Archivo actualizado con éxito")
    except GithubException as e:
        if e.status == 404:
            # Crear archivo
            repo.create_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False,encoding="utf-8-sig"), branch="main")
            print("Archivo cargado con éxito")
        else:
            print("Error al cargar archivo")

In [3]:
# Listado
portales = [goodlers, easybroker, lamudi, metros_cubicos, inmuebles24]
# df vacía
df = pd.DataFrame() 

# proceso de scrapeo
for portal in portales:
    try:
        # Tiempo de inicio
        print("Proceso iniciado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        
        # Ejecuta la función de scraping
        df_portal = portal()  
        df = pd.concat([df, df_portal])
        
        # Records
        print("Número de registros: ", len(df))
        
    except Exception as e:
        # Si ocurre un error, lo imprime
        print(f"Ocurrió un error: {e}")
    
    finally:
        
        print("Proceso terminado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        print("--------------------------------------------------")
        
        # Sleep for a random time before the next iteration
        time.sleep(random.randint(1, 3))

df

Proceso iniciado a las  21:26:21 del día 10/03/24

Scraping Goodlers: 100%|██████████| 4/4 [00:09<00:00,  2.36s/it]

Número de registros:  58
Proceso terminado a las  21:35:44 del día 10/03/24
--------------------------------------------------
Proceso iniciado a las  21:35:47 del día 10/03/24

Scraping Easybroker: 100%|██████████| 100/100 [06:28<00:00,  3.89s/it]

Número de registros:  2458
Proceso terminado a las  21:42:16 del día 10/03/24
--------------------------------------------------
Proceso iniciado a las  21:42:18 del día 10/03/24

Scraping Lamudi: 100%|██████████| 100/100 [05:51<00:00,  3.52s/it]
C:\Users\claud\AppData\Local\Temp\ipykernel_38404\3410424900.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df_portal])

Número de registros:  5458
Proceso terminado a las  21:48:41 del día 10/03/24
--------------------------------------------------
Proceso iniciado a las  21:48:43 del día 10/03/24

Scraping MetrosCubicos:   0%|          | 0/40 [00:00<?, ?it/s]

Ocurrió un error: local variable 'i' referenced before assignment
Proceso terminado a las  21:48:43 del día 10/03/24
--------------------------------------------------

Proceso iniciado a las  21:48:44 del día 10/03/24

Scraping Inmuebles24: 100%|██████████| 70/70 [19:04<00:00, 16.35s/it]

Ocurrió un error: bad operand type for unary ~: 'NoneType'
Proceso terminado a las  22:07:53 del día 10/03/24
--------------------------------------------------

,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,lat,lon,precio,superficie,preciometro,descripcion
0,Gran Kanan,terrenos en telchac,goodlers,None,252000.0,322000.0,2024-03-10 21:26:31.756277,21.316266,-89.254816,NaN,NaN,NaN,NaN
1,Dzidzil-ha,terrenos en dzidzilche,goodlers,dzidzilche,656383.0,1904896.0,2024-03-10 21:26:31.756277,21.158645,-89.697692,NaN,NaN,NaN,NaN
2,Compostela,terrenos en zona country,goodlers,None,5916407.0,6740979.0,2024-03-10 21:26:31.756277,21.105408,-89.634949,NaN,NaN,NaN,NaN
3,Vía Kali,terrenos en cholul,goodlers,cholul,1136551.0,1136551.0,2024-03-10 21:26:31.756277,21.037847,-89.572668,NaN,NaN,NaN,NaN
4,Vía Cholul,terrenos en cholul,goodlers,cholul,1269027.0,3619201.0,2024-03-10 21:26:31.756277,21.04011,-89.518831,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997,NaN,lote terreno en venta en temozon norte,lamudi,temozon norte,NaN,NaN,NaT,21.3419,-89.263604,51195434.0,NaN,NaN,innovador desarrollo de 336 lotes comerciales ...
2998,NaN,lote terreno en venta en dzidzantun,lamudi,None,NaN,NaN,NaT,21.248205,-89.042196,421000.0,350.0,NaN,impresionantes lotes de inversion en dzidzantu...
2999,NaN,lote terreno en venta en telchac puerto centro,lamudi,None,NaN,NaN,NaT,20.93,-89.022713,368000.0,160.0,NaN,venta de terrenos disponibles a 5 min de izama...
3000,NaN,lote terreno en venta en dzidzantun,lamudi,None,NaN,NaN,NaT,None,None,52470.0,330.0,NaN,
3001,NaN,lote terreno en venta en izamal,lamudi,None,NaN,NaN,NaT,None,None,155000.0,250.0,NaN,

In [4]:
#Salvar datos sin limpiar
df.to_csv("terrenos_yucatan_sucio.csv",index=False,encoding="utf-8-sig")
push_request(df, "terrenosyuca_sucia.csv", "Se envía scrapeo sucio", "data")

Archivo actualizado con éxito

#### Limpieza de datos

In [5]:
def limpia_datos(df):
    df = df.reset_index(drop=True)
   
    #Eliminar registros con precio 0 o nan
    df.loc[df['fuente'] == 'goodlers', 'precio'] = (df['precio_min'] + df['precio_max']) / 2
    df["precio"]=pd.to_numeric(df["precio"],errors="coerce")
    df=df[df['precio']>0]
    df=df[df['precio'].notna()]
    #Eliminar registros que en oferta contengan "terreno"
    df=df[~df['oferta'].str.contains('renta')]
    df=df[~df['oferta'].str.contains('remodelar')]
    df=df[~df['oferta'].str.contains('hectareas')]
    #Si la fuente es goodlers, sacar el promedio de precio_min y precio_max y ponerlo en precio
    #Eliminar registros con misma oferta y mismo precio
    df=df.drop_duplicates(subset=['oferta','precio'],keep='first')
    #Crear colloc. Si es nan, poner el dato de la columna que tenga datos, ya sea colonia o localidad
    if 'colonia' in df.columns:
        df['colloc'] = df['localidad'].combine_first(df['colonia'])
    else:
        df['colloc'] = df['localidad']
    #Sustituir "benito juarez nte" por "benito juarez norte"
    df['colloc']=df['colloc'].str.replace('benito juarez nte','benito juarez norte')
    #Sustituir "benito juarez ote" por "benito juarez oriente"
    df['colloc']=df['colloc'].str.replace('benito juarez ote','benito juarez oriente')
    df["colloc"]=df["colloc"].str.replace("bellavista","bella vista")
    df["colloc"]=df["colloc"].str.replace("x canatun","xcanatun")
    #Precio por metro cuadrado
    df["precio_m2"]=df["precio"]/df["superficie"]
    #Eliminar columna preciometro
    df=df.drop(columns=["preciometro"])
    
    return df

In [6]:
df_limpia=limpia_datos(df)
df_limpia

,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,lat,lon,precio,superficie,preciometro,descripcion,colloc
0,Gran Kanan,terrenos en telchac,goodlers,None,252000.0,322000.0,2024-03-10 21:26:31.756277,21.316266,-89.254816,287000.0,NaN,NaN,NaN,None
1,Dzidzil-ha,terrenos en dzidzilche,goodlers,dzidzilche,656383.0,1904896.0,2024-03-10 21:26:31.756277,21.158645,-89.697692,1280639.5,NaN,NaN,NaN,dzidzilche
2,Compostela,terrenos en zona country,goodlers,None,5916407.0,6740979.0,2024-03-10 21:26:31.756277,21.105408,-89.634949,6328693.0,NaN,NaN,NaN,None
3,Vía Kali,terrenos en cholul,goodlers,cholul,1136551.0,1136551.0,2024-03-10 21:26:31.756277,21.037847,-89.572668,1136551.0,NaN,NaN,NaN,cholul
4,Vía Cholul,terrenos en cholul,goodlers,cholul,1269027.0,3619201.0,2024-03-10 21:26:31.756277,21.04011,-89.518831,2444114.0,NaN,NaN,NaN,cholul
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5453,NaN,lote terreno en venta en temozon norte,lamudi,temozon norte,NaN,NaN,NaT,21.3419,-89.263604,51195434.0,NaN,NaN,innovador desarrollo de 336 lotes comerciales ...,temozon norte
5454,NaN,lote terreno en venta en dzidzantun,lamudi,None,NaN,NaN,NaT,21.248205,-89.042196,421000.0,350.0,NaN,impresionantes lotes de inversion en dzidzantu...,None
5455,NaN,lote terreno en venta en telchac puerto centro,lamudi,None,NaN,NaN,NaT,20.93,-89.022713,368000.0,160.0,NaN,venta de terrenos disponibles a 5 min de izama...,None
5456,NaN,lote terreno en venta en dzidzantun,lamudi,None,NaN,NaN,NaT,None,None,52470.0,330.0,NaN,,None
5457,NaN,lote terreno en venta en izamal,lamudi,None,NaN,NaN,NaT,None,None,155000.0,250.0,NaN,,None

In [7]:
df_limpia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2510 entries, 0 to 5457
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   desarrollador   58 non-null     object
 1   oferta          2510 non-null   object
 2   fuente          2510 non-null   object
 3   localidad       998 non-null    object
 4   precio_min      58 non-null     float64
 5   precio_max      58 non-null     float64
 6   fecha_consulta  58 non-null     datetime64[ns]
 7   lat             2508 non-null   object
 8   lon             2508 non-null   object
 9   precio          2510 non-null   float64
 10  superficie      2403 non-null   float64
 11  preciometro     0 non-null      object
 12  descripcion     2452 non-null   object
 13  colloc          998 non-null    object
dtypes: datetime64[ns](1), float64(4), object(9)
memory usage: 294.1+ KB

In [8]:
round(len(df_limpia[df_limpia['oferta'].str.contains('venta|vende')])/len(df_limpia)*100,1)

97.7

In [9]:
df_limpia.to_csv("terrenosyuca_limpia.csv", index=False, encoding="utf-8-sig")

In [10]:
push_request(df_limpia, "terrenosyuca_limpia.csv", "Se envía primer scrapeo", "data")

Archivo actualizado con éxito