In [1]:
#Importar librerías
from yucascraper.scrapers.vivienda import lamudi,goodlers,easybroker,metros_cubicos,inmuebles24
import pandas as pd
import time
import random
from matplotlib import pyplot as plt
from sqlalchemy import create_engine
from github import Github, GithubException

In [2]:
#Se crea función para subir archivo a GitHub
def push_request(df, nombre_archivo,commit_message,carpeta):
    repo_name = "vivi_yuca_result"    
    repo_owner = "claudiodanielpc"
    github={'github': {'token': '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'}}
    #Token de acceso a GitHub
    g = Github(github["github"]["token"])
    #Se establece el repositorio
    repo=g.get_repo("claudiodanielpc/vivi_yuca_result")
    #repo = g.get_repo(f"{repo_owner}/{repo_name}")
    
    try:
        file = repo.get_contents(f"{carpeta}/{nombre_archivo}")
        # Actualizar archivo
        repo.update_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False,encoding="utf-8-sig"), file.sha, branch="main")
        print("Archivo actualizado con éxito")
    except GithubException as e:
        if e.status == 404:
            # Crear archivo
            repo.create_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False,encoding="utf-8-sig"), branch="main")
            print("Archivo cargado con éxito")
        else:
            print("Error al cargar archivo")

#### Scrapeo de datos de los portales inmobiliarios

In [3]:
# Listado
portales = [goodlers, easybroker, lamudi, metros_cubicos, inmuebles24]
# df vacía
df = pd.DataFrame()

# proceso de scrapeo
for portal in portales:
    try:
        # Tiempo de inicio
        print("Proceso iniciado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        
        # Ejecuta la función de scraping
        df_portal = portal()  
        df = pd.concat([df, df_portal])
        
        # Records
        print("Número de registros: ", len(df))
        
    except Exception as e:
        # Si ocurre un error, lo imprime
        print(f"Ocurrió un error: {e}")
    
    finally:
        
        print("Proceso terminado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        print("--------------------------------------------------")
        
        # Sleep for a random time before the next iteration
        time.sleep(random.randint(1, 3))

    
df

Proceso iniciado a las  20:29:40 del día 10/03/24

Scraping Goodlers:  50%|█████     | 3/6 [00:08<00:08,  2.79s/it]

Número de registros:  66
Proceso terminado a las  20:40:20 del día 10/03/24
--------------------------------------------------
Proceso iniciado a las  20:40:23 del día 10/03/24

Scraping Easybroker: 100%|██████████| 100/100 [07:10<00:00,  4.30s/it]

Número de registros:  1696
Proceso terminado a las  20:47:33 del día 10/03/24
--------------------------------------------------
Proceso iniciado a las  20:47:36 del día 10/03/24

Scraping Lamudi: 100%|██████████| 100/100 [05:43<00:00,  3.44s/it]

Número de registros:  4696
Proceso terminado a las  20:53:56 del día 10/03/24
--------------------------------------------------
Proceso iniciado a las  20:53:59 del día 10/03/24

Scraping MetrosCubicos: 100%|██████████| 40/40 [04:00<00:00,  6.01s/it]

Ocurrió un error: All arrays must be of the same length
Proceso terminado a las  20:58:00 del día 10/03/24
--------------------------------------------------
Proceso iniciado a las  20:58:01 del día 10/03/24

Scraping Inmuebles24: 100%|██████████| 70/70 [18:37<00:00, 15.96s/it]

Ocurrió un error: expected string or bytes-like object
Proceso terminado a las  21:17:18 del día 10/03/24
--------------------------------------------------

,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,lat,lon,precio,...,bathrooms,recamaras,colonia,descripcion,cochera,alberca,vigilancia,paddle,casa_club,privada
0,Enuma Urban Homes,casas en temozon norte,goodlers,temozon norte,4329593.0,4927550.0,2024-03-10 20:29:49.188116,21.059675,-89.613845,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Verna Residencial,casas en conkal,goodlers,None,3135000.0,3980000.0,2024-03-10 20:29:49.188116,21.054569,-89.53471,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pedregales de Misné balám,casas en misne balam,goodlers,None,1607000.0,3311170.0,2024-03-10 20:29:49.188116,21.171149,-89.606722,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kenatta Luxury Villas,casas y townhouses en temozon norte,goodlers,temozon norte,4500000.0,4500000.0,2024-03-10 20:29:49.188116,21.054118,-89.609704,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KOBÁ Townhouses,townhouses y casas en temozon norte,goodlers,temozon norte,3600000.0,3600000.0,2024-03-10 20:29:49.188116,21.066644,-89.607698,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,NaN,casa en venta en fraccionamiento montebello,lamudi,montebello,NaN,NaN,2024-03-10 20:53:56.542517,21.0306572,-89.5945502,4300000.0,...,3,3,montebello,hermosa casa ubicada en una de las zonas mas e...,0.0,0.0,0.0,0.0,0.0,0.0
2996,NaN,casa en venta en dzitya,lamudi,dzitya,NaN,NaN,2024-03-10 20:53:56.542517,21.048333,-89.678055,3350000.0,...,3,3,dzitya,casas en venta zona de dzitya ubicadas en la z...,0.0,1.0,0.0,0.0,0.0,0.0
2997,NaN,casa en venta en dzitya,lamudi,dzitya,NaN,NaN,2024-03-10 20:53:56.542517,21.048333,-89.678055,2870000.0,...,2,2,dzitya,townhouses en venta ubicados al norte de la ci...,1.0,1.0,0.0,0.0,0.0,0.0
2998,NaN,casa en venta en hacienda xcanatun,lamudi,xcanatun,NaN,NaN,2024-03-10 20:53:56.542517,21.074534,-89.629421,15994000.0,...,4,4,x canatun,residencial ubicado en xcanatun al norte de me...,0.0,1.0,0.0,0.0,0.0,0.0
2999,NaN,casa en venta en fracc francisco de montejo,lamudi,francisco de montejo,NaN,NaN,2024-03-10 20:53:56.542517,21.0366605,-89.6508223,2450000.0,...,2,3,francisco de montejo,excelente casa ubicada al norte de la ciudad d...,1.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df["fuente"].unique()

array(['goodlers', 'easybroker', 'lamudi'], dtype=object)

In [5]:
#Salvar datos sin limpiar
df.to_csv("vivienda_yucatan_sucio.csv",index=False,encoding="utf-8-sig")
push_request(df, "viviyuca_sucia.csv", "Se envía scrapeo sucio", "data")

Archivo actualizado con éxito

#### Limpieza de datos

In [6]:
def limpia_datos(df):
    df = df.reset_index(drop=True)
   
    #Eliminar registros con precio 0 o nan
    df.loc[df['fuente'] == 'goodlers', 'precio'] = (df['precio_min'] + df['precio_max']) / 2
    df=df[df['precio']>0]
    df=df[df['precio'].notna()]
    #Eliminar registros que en oferta contengan "terreno"
    df=df[~df['oferta'].str.contains('terreno')]
    df=df[~df['oferta'].str.contains('renta')]
    df=df[~df['oferta'].str.contains('remodelar')]
    df=df[~df['oferta'].str.contains('hectareas')]
    #Si la fuente es goodlers, sacar el promedio de precio_min y precio_max y ponerlo en precio
    #Eliminar registros con misma oferta y mismo precio
    df=df.drop_duplicates(subset=['oferta','precio'],keep='first')
    #Crear colloc. Si es nan, poner el dato de la columna que tenga datos, ya sea colonia o localidad
    if 'colonia' in df.columns:
        df['colloc'] = df['localidad'].combine_first(df['colonia'])
    else:
        df['colloc'] = df['localidad']
    #Sustituir "benito juarez nte" por "benito juarez norte"
    df['colloc']=df['colloc'].str.replace('benito juarez nte','benito juarez norte')
    #Sustituir "benito juarez ote" por "benito juarez oriente"
    df['colloc']=df['colloc'].str.replace('benito juarez ote','benito juarez oriente')
    df["colloc"]=df["colloc"].str.replace("bellavista","bella vista")
    df["colloc"]=df["colloc"].str.replace("x canatun","xcanatun")
    #Calcular precio por metro cuadrado
    df['precio_m2'] = df['precio'] / df['mts_const']

    return df

In [7]:
df_limpia=limpia_datos(df)
df_limpia

,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,lat,lon,precio,...,recamaras,colonia,descripcion,cochera,alberca,vigilancia,paddle,casa_club,privada,colloc
0,Enuma Urban Homes,casas en temozon norte,goodlers,temozon norte,4329593.0,4927550.0,2024-03-10 20:29:49.188116,21.059675,-89.613845,4628571.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,temozon norte
1,Verna Residencial,casas en conkal,goodlers,None,3135000.0,3980000.0,2024-03-10 20:29:49.188116,21.054569,-89.53471,3557500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pedregales de Misné balám,casas en misne balam,goodlers,None,1607000.0,3311170.0,2024-03-10 20:29:49.188116,21.171149,-89.606722,2459085.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kenatta Luxury Villas,casas y townhouses en temozon norte,goodlers,temozon norte,4500000.0,4500000.0,2024-03-10 20:29:49.188116,21.054118,-89.609704,4500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,temozon norte
4,KOBÁ Townhouses,townhouses y casas en temozon norte,goodlers,temozon norte,3600000.0,3600000.0,2024-03-10 20:29:49.188116,21.066644,-89.607698,3600000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,temozon norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4682,NaN,casa en venta en dzitya,lamudi,dzitya,NaN,NaN,2024-03-10 20:53:56.542517,21.048333,-89.678055,4242000.0,...,3,dzitya,alera\nalera es una privada residencial confor...,1.0,1.0,0.0,0.0,0.0,1.0,dzitya
4685,NaN,casa en venta en hacienda xcanatun,lamudi,xcanatun,NaN,NaN,2024-03-10 20:53:56.542517,21.077403,-89.630701,7750000.0,...,4,x canatun,residencial ubicado en xcanatun al norte de me...,0.0,0.0,1.0,0.0,1.0,0.0,xcanatun
4693,NaN,casa en venta en dzitya,lamudi,dzitya,NaN,NaN,2024-03-10 20:53:56.542517,21.048333,-89.678055,2870000.0,...,2,dzitya,townhouses en venta ubicados al norte de la ci...,1.0,1.0,0.0,0.0,0.0,0.0,dzitya
4694,NaN,casa en venta en hacienda xcanatun,lamudi,xcanatun,NaN,NaN,2024-03-10 20:53:56.542517,21.074534,-89.629421,15994000.0,...,4,x canatun,residencial ubicado en xcanatun al norte de me...,0.0,1.0,0.0,0.0,0.0,0.0,xcanatun
4695,NaN,casa en venta en fracc francisco de montejo,lamudi,francisco de montejo,NaN,NaN,2024-03-10 20:53:56.542517,21.0366605,-89.6508223,2450000.0,...,3,francisco de montejo,excelente casa ubicada al norte de la ciudad d...,1.0,0.0,0.0,0.0,0.0,0.0,francisco de montejo

In [8]:
df_limpia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1550 entries, 0 to 4695
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   desarrollador   65 non-null     object
 1   oferta          1550 non-null   object
 2   fuente          1550 non-null   object
 3   localidad       1176 non-null   object
 4   precio_min      65 non-null     float64
 5   precio_max      65 non-null     float64
 6   fecha_consulta  1550 non-null   datetime64[ns]
 7   lat             1547 non-null   object
 8   lon             1547 non-null   object
 9   precio          1550 non-null   float64
 10  mts_const       1422 non-null   float64
 11  direccion       14 non-null     object
 12  bathrooms       1459 non-null   object
 13  recamaras       1466 non-null   object
 14  colonia         1178 non-null   object
 15  descripcion     1471 non-null   object
 16  cochera         1471 non-null   float64
 17  alberca         1471 non-null   float64
 18  vigilancia      1471 non-null   float64
 19  paddle          1471 non-null   float64
 20  casa_club       1471 non-null   float64
 21  privada         1471 non-null   float64
 22  colloc          1268 non-null   object
dtypes: datetime64[ns](1), float64(10), object(12)
memory usage: 322.9+ KB

In [9]:
round(len(df_limpia[df_limpia['oferta'].str.contains('venta|vende')])/len(df_limpia)*100,1)

95.5

### Cargar a PostgreSQL

In [10]:
username = 'postgres'
password = 'olivia14'

# Setting up the connection string for SQLAlchemy
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/postgres')

In [11]:
df_limpia.to_sql('vivienda_yucatan', engine, if_exists='append', index=False)
print("Datos guardados en la base de datos. Número de registros: ", len(df_limpia))

Datos guardados en la base de datos. Número de registros:  1550

In [12]:
# # Replace 'table_name' with the actual name of your table
# table_name = 'vivienda_yucatan'

#     # Invoke the table into a pandas DataFrame
# df = pd.read_sql_table(table_name, engine)
# df

In [13]:
df_limpia.to_csv("viviyuca_limpia.csv", index=False, encoding="utf-8-sig")

In [14]:
push_request(df_limpia, "viviyuca_limpia.csv", "Se envía primer scrapeo", "data")

Archivo actualizado con éxito

In [15]:
df_limpia["colloc"].sort_values().unique()

array(['alcala martin', 'benito juarez norte', 'buenavista', 'campestre',
       'caucel', 'centro', 'chablekal', 'chichi suarez', 'cholul',
       'chuburna de hidalgo', 'chuminopolis', 'ciudad caucel',
       'ciudad industrial', 'conkal', 'cortes sarmiento', 'del sur',
       'diaz ordaz', 'dzibilchaltun', 'dzidzilche', 'dzitya', 'el arco',
       'el triunfo', 'francisco de montejo', 'garcia gineres',
       'gran san pedro cholul', 'gran santa fe', 'inalambrica', 'itzimna',
       'jardines del norte', 'jesus carranza', 'juan b sosa',
       'juan pablo ii', 'juan pablo secc orquideas ii', 'kikteil',
       'komchen', 'la ceiba', 'la huerta',
       'las aguilas (jose maria iturralde)', 'las americas',
       'las americas ii', 'las palmas', 'lazaro cardenas ote',
       'leandro valle', 'los pinos', 'lourdes', 'magnolias', 'maya',
       'mejorada', 'merida centro', 'mexico', 'mexico norte',
       'montebello', 'montecristo', 'monterreal', 'montes de ame',
       'nueva aleman', 'nuevo yucatan', 'oncan',
       'parque industrial yucatan', 'paseo de las fuentes',
       'pedregales de tanlum', 'pensiones', 'providencia', 'real montejo',
       'residencial sol campestre', 'roble agricola iii',
       'san antonio cinta', 'san antonio hool', 'san antonio kaua',
       'san antonio xluch iii', 'san carlos', 'san cristobal',
       'san esteban', 'san juan', 'san juan grande', 'san pedro cholul',
       'san ramon norte', 'san vicente chuburna', 'santa ana',
       'santa gertrudis copo', 'santiago', 'sitpach', 'sodzil norte',
       'tamanche', 'temozon norte', 'tixcacal', 'tixcacal opichen',
       'tixcuytun', 'vicente solis', 'villas del sol',
       'villas la hacienda', 'vista alegre norte', 'xcanatun', 'xcumpich',
       'xoclan canto', 'yucatan', 'yucatan country club', nan],
      dtype=object)

In [16]:
#contar valores únicos de colloc
len(df_limpia["colloc"].unique())

98

In [17]:
df_limpia["fuente"].unique()

array(['goodlers', 'easybroker', 'lamudi'], dtype=object)