In [1]:
#Importar librerías
from yucascraper.scrapers.vivienda import lamudi,goodlers,easybroker,metros_cubicos,inmuebles24
import pandas as pd
import time
import random
from matplotlib import pyplot as plt
from sqlalchemy import create_engine
from github import Github, GithubException

In [10]:
#Se crea función para subir archivo a GitHub
def push_request(df, nombre_archivo,commit_message,carpeta):
    repo_name = "vivi_yuca_result"    
    repo_owner = "claudiodanielpc"
    github={'github': {'token': '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'}}
    #Token de acceso a GitHub
    g = Github(github["github"]["token"])
    #Se establece el repositorio
    repo=g.get_repo("claudiodanielpc/vivi_yuca_result")
    #repo = g.get_repo(f"{repo_owner}/{repo_name}")
    
    try:
        file = repo.get_contents(f"{carpeta}/{nombre_archivo}")
        # Actualizar archivo
        repo.update_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False,encoding="utf-8-sig"), file.sha, branch="main")
        print("Archivo actualizado con éxito")
    except GithubException as e:
        if e.status == 404:
            # Crear archivo
            repo.create_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False,encoding="utf-8-sig"), branch="main")
            print("Archivo cargado con éxito")
        else:
            print("Error al cargar archivo")

#### Scrapeo de datos de los portales inmobiliarios

In [3]:
# Listado
portales = [goodlers, easybroker, lamudi, metros_cubicos, inmuebles24]
#portales=[inmuebles24]
# df vacía
df = pd.DataFrame()

# proceso de scrapeo
for portal in portales:
    try:
        # Tiempo de inicio
        print("Proceso iniciado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        
        # Ejecuta la función de scraping
        df_portal = portal()  
        df = pd.concat([df, df_portal])
        
        # Records
        print("Número de registros: ", len(df))
        
    except Exception as e:
        # Si ocurre un error, lo imprime
        print(f"Ocurrió un error: {e}")
    
    finally:
        
        print("Proceso terminado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        print("--------------------------------------------------")
        
        # Sleep for a random time before the next iteration
        time.sleep(random.randint(1, 3))

    
df

Proceso iniciado a las  15:11:22 del día 22/11/23

Scraping Goodlers:   0%|          | 0/4 [00:00<?, ?it/s]

Scraping Goodlers: 100%|██████████| 4/4 [00:08<00:00,  2.20s/it]

Número de registros:  70
Proceso terminado a las  15:11:31 del día 22/11/23
--------------------------------------------------
Proceso iniciado a las  15:11:34 del día 22/11/23

Scraping Easybroker: 100%|██████████| 100/100 [08:54<00:00,  5.34s/it]

Número de registros:  2458
Proceso terminado a las  15:20:29 del día 22/11/23
--------------------------------------------------
Proceso iniciado a las  15:20:30 del día 22/11/23

Scraping Lamudi: 100%|██████████| 100/100 [06:15<00:00,  3.75s/it]

Número de registros:  5458
Proceso terminado a las  15:27:23 del día 22/11/23
--------------------------------------------------
Proceso iniciado a las  15:27:25 del día 22/11/23

Scraping MetrosCubicos: 100%|██████████| 40/40 [04:21<00:00,  6.55s/it]

Ocurrió un error: All arrays must be of the same length
Proceso terminado a las  15:31:47 del día 22/11/23
--------------------------------------------------
Proceso iniciado a las  15:31:50 del día 22/11/23

Scraping Inmuebles24: 100%|██████████| 70/70 [22:09<00:00, 18.99s/it]

Número de registros:  6854
Proceso terminado a las  15:54:46 del día 22/11/23
--------------------------------------------------

,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,precio,size,direccion,...,colonia,descripcion,mts_const,cochera,alberca,vigilancia,paddle,casa_club,privada,superficie
0,KOBÁ Townhouses,temozon norte,goodlers,temozon norte,3500000.0,3500000.0,2023-11-22 15:11:31.808515,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kenatta Luxury Villas,temozon norte,goodlers,temozon norte,4350000.0,4350000.0,2023-11-22 15:11:31.808515,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alameda,chuburna,goodlers,None,2800000.0,2800000.0,2023-11-22 15:11:31.808515,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andria,sitpach,goodlers,sitpach,2817000.0,2817000.0,2023-11-22 15:11:31.808515,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Verna Residencial,conkal,goodlers,None,3315000.0,4239000.0,2023-11-22 15:11:31.808515,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391,NaN,mansion colonial renovada en garcia gineres,inmuebles24,garcia gineres,NaN,NaN,2023-11-22 15:54:42.324428,25000000.0,NaN,NaN,...,NaN,Una vez construida para el hermano del ex gobe...,NaN,0.0,0.0,0.0,0.0,0.0,1.0,900
1392,NaN,preventa casa monza lujo 3 habitaciones monter...,inmuebles24,None,NaN,NaN,2023-11-22 15:54:42.324428,11500000.0,NaN,NaN,...,NaN,Monza es un complejo compuesto de cinco exclus...,NaN,0.0,1.0,1.0,0.0,0.0,0.0,192
1393,NaN,casa en venta en merida casa alegre jardines d...,inmuebles24,jardines de vista alegre,NaN,NaN,2023-11-22 15:54:42.324428,3950000.0,NaN,NaN,...,NaN,Casa en Venta al norte e interior de la ciudad...,NaN,1.0,0.0,0.0,0.0,0.0,0.0,252
1394,NaN,casas en venta garcia gineres merida,inmuebles24,garcia gineres,NaN,NaN,2023-11-22 15:54:42.324428,6974801.0,NaN,NaN,...,NaN,"*Precios desde 6, 974, 801 hasta 7, 400, 573mx...",NaN,0.0,0.0,0.0,0.0,1.0,0.0,106
1395,NaN,casa tipo towhnouse en merida cerca de la call...,inmuebles24,None,NaN,NaN,2023-11-22 15:54:42.324428,4200000.0,NaN,NaN,...,NaN,Magnificas 2 casas en construcción tipo townho...,NaN,0.0,1.0,0.0,0.0,0.0,0.0,200

In [11]:
#Salvar datos sin limpiar
df.to_csv("vivienda_yucatan_sucio.csv",index=False,encoding="utf-8-sig")
push_request(df, "viviyuca_sucia.csv", "Se envía scrapeo sucio", "data")

Archivo cargado con éxito

#### Limpieza de datos

In [33]:
def limpia_datos(df):
    df = df.reset_index(drop=True)
   
    #Eliminar registros con precio 0 o nan
    df.loc[df['fuente'] == 'goodlers', 'precio'] = (df['precio_min'] + df['precio_max']) / 2
    df=df[df['precio']>0]
    df=df[df['precio'].notna()]
    #Eliminar registros que en oferta contengan "terreno"
    df=df[~df['oferta'].str.contains('terreno')]
    df=df[~df['oferta'].str.contains('renta')]
    df=df[~df['oferta'].str.contains('remodelar')]
    #Si la fuente es goodlers, sacar el promedio de precio_min y precio_max y ponerlo en precio
    #Eliminar registros con misma oferta y mismo precio
    df=df.drop_duplicates(subset=['oferta','precio'],keep='first')
    #Crear colloc. Si es nan, poner el dato de la columna que tenga datos, ya sea colonia o localidad
    df['colloc']=df['localidad'].fillna(df['colonia'])
    #Sustituir "benito juarez nte" por "benito juarez norte"
    df['colloc']=df['colloc'].str.replace('benito juarez nte','benito juarez norte')
    #Sustituir "benito juarez ote" por "benito juarez oriente"
    df['colloc']=df['colloc'].str.replace('benito juarez ote','benito juarez oriente')
    df["colloc"]=df["colloc"].str.replace("bellavista","bella vista")

    return df

In [34]:
df_limpia=limpia_datos(df)
df_limpia

,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,precio,size,direccion,...,descripcion,mts_const,cochera,alberca,vigilancia,paddle,casa_club,privada,superficie,colloc
0,KOBÁ Townhouses,temozon norte,goodlers,temozon norte,3500000.0,3500000.0,2023-11-22 15:11:31.808515,3500000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,temozon norte
1,Kenatta Luxury Villas,temozon norte,goodlers,temozon norte,4350000.0,4350000.0,2023-11-22 15:11:31.808515,4350000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,temozon norte
2,Alameda,chuburna,goodlers,None,2800000.0,2800000.0,2023-11-22 15:11:31.808515,2800000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andria,sitpach,goodlers,sitpach,2817000.0,2817000.0,2023-11-22 15:11:31.808515,2817000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sitpach
4,Verna Residencial,conkal,goodlers,None,3315000.0,4239000.0,2023-11-22 15:11:31.808515,3777000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6849,NaN,mansion colonial renovada en garcia gineres,inmuebles24,garcia gineres,NaN,NaN,2023-11-22 15:54:42.324428,25000000.0,NaN,NaN,...,Una vez construida para el hermano del ex gobe...,NaN,0.0,0.0,0.0,0.0,0.0,1.0,900,garcia gineres
6850,NaN,preventa casa monza lujo 3 habitaciones monter...,inmuebles24,None,NaN,NaN,2023-11-22 15:54:42.324428,11500000.0,NaN,NaN,...,Monza es un complejo compuesto de cinco exclus...,NaN,0.0,1.0,1.0,0.0,0.0,0.0,192,NaN
6851,NaN,casa en venta en merida casa alegre jardines d...,inmuebles24,jardines de vista alegre,NaN,NaN,2023-11-22 15:54:42.324428,3950000.0,NaN,NaN,...,Casa en Venta al norte e interior de la ciudad...,NaN,1.0,0.0,0.0,0.0,0.0,0.0,252,jardines de vista alegre
6852,NaN,casas en venta garcia gineres merida,inmuebles24,garcia gineres,NaN,NaN,2023-11-22 15:54:42.324428,6974801.0,NaN,NaN,...,"*Precios desde 6, 974, 801 hasta 7, 400, 573mx...",NaN,0.0,0.0,0.0,0.0,1.0,0.0,106,garcia gineres
6853,NaN,casa tipo towhnouse en merida cerca de la call...,inmuebles24,None,NaN,NaN,2023-11-22 15:54:42.324428,4200000.0,NaN,NaN,...,Magnificas 2 casas en construcción tipo townho...,NaN,0.0,1.0,0.0,0.0,0.0,0.0,200,NaN

In [35]:
df_limpia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4925 entries, 0 to 6853
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   desarrollador   70 non-null     object
 1   oferta          4925 non-null   object
 2   fuente          4925 non-null   object
 3   localidad       3252 non-null   object
 4   precio_min      70 non-null     float64
 5   precio_max      70 non-null     float64
 6   fecha_consulta  4925 non-null   datetime64[ns]
 7   precio          4925 non-null   float64
 8   size            2174 non-null   float64
 9   direccion       2259 non-null   object
 10  bathrooms       4559 non-null   object
 11  recamaras       4751 non-null   object
 12  lat             3542 non-null   object
 13  lon             3542 non-null   object
 14  colonia         3055 non-null   object
 15  descripcion     2596 non-null   object
 16  mts_const       1433 non-null   float64
 17  cochera         2596 non-null   float64
 18  alberca         2596 non-null   float64
 19  vigilancia      2596 non-null   float64
 20  paddle          2596 non-null   float64
 21  casa_club       2596 non-null   float64
 22  privada         2596 non-null   float64
 23  superficie      1083 non-null   object
 24  colloc          4048 non-null   object
dtypes: datetime64[ns](1), float64(11), object(13)
memory usage: 1000.4+ KB

In [36]:
round(len(df_limpia[df_limpia['oferta'].str.contains('venta|vende')])/len(df_limpia)*100,1)

75.6

### Cargar a PostgreSQL

In [16]:
username = 'postgres'
password = 'olivia14'

# Setting up the connection string for SQLAlchemy
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/postgres')

In [24]:
df_limpia.to_sql('vivienda_yucatan', engine, if_exists='append', index=False)
print("Datos guardados en la base de datos. Número de registros: ", len(df_limpia))

Datos guardados en la base de datos. Número de registros:  4925

In [ ]:
# # Replace 'table_name' with the actual name of your table
# table_name = 'vivienda_yucatan'

#     # Invoke the table into a pandas DataFrame
# df = pd.read_sql_table(table_name, engine)
# df

,id,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,size,direccion,...,casa_club,privada,superficie,precio,bathrooms,recamaras,lat,lon,colonia,colloc
0,15083,Andria,sitpach,goodlers,sitpach,2817000.0,2817000.0,2023-11-17,NaN,None,...,NaN,NaN,NaN,2817000.0,NaN,NaN,NaN,NaN,None,sitpach
1,15084,KOBÁ Townhouses,temozon norte,goodlers,temozon norte,3350000.0,3350000.0,2023-11-17,NaN,None,...,NaN,NaN,NaN,3350000.0,NaN,NaN,NaN,NaN,None,temozon norte
2,15085,Verna Residencial,conkal,goodlers,None,3315000.0,4239000.0,2023-11-17,NaN,None,...,NaN,NaN,NaN,3777000.0,NaN,NaN,NaN,NaN,None,None
3,15086,Alameda,chuburna,goodlers,None,2800000.0,2800000.0,2023-11-17,NaN,None,...,NaN,NaN,NaN,2800000.0,NaN,NaN,NaN,NaN,None,None
4,15087,Kenatta Luxury Villas,temozon norte,goodlers,temozon norte,4350000.0,4350000.0,2023-11-17,NaN,None,...,NaN,NaN,NaN,4350000.0,NaN,NaN,NaN,NaN,None,temozon norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4941,20024,None,casa en venta zona residencial de campestre,inmuebles24,campestre,NaN,NaN,2023-11-18,NaN,None,...,0.0,0.0,774.0,9450000.0,7.0,6.0,NaN,NaN,None,campestre
4942,20025,None,venta de casa en privada residencial con ameni...,inmuebles24,temozon norte,NaN,NaN,2023-11-18,NaN,None,...,0.0,0.0,162.0,4390000.0,2.0,2.0,NaN,NaN,None,temozon norte
4943,20026,None,casa en venta en el norte de merida dzitya con...,inmuebles24,dzitya,NaN,NaN,2023-11-18,NaN,None,...,0.0,0.0,253.0,4549000.0,4.0,4.0,NaN,NaN,None,dzitya
4944,20027,None,venta de casa en itzimna merida,inmuebles24,itzimna,NaN,NaN,2023-11-18,NaN,None,...,0.0,0.0,558.0,24000000.0,3.0,3.0,NaN,NaN,None,itzimna
4945,20028,None,casa en venta en merida dzitya,inmuebles24,dzitya,NaN,NaN,2023-11-18,NaN,None,...,0.0,0.0,439.0,6200000.0,5.0,5.0,NaN,NaN,None,dzitya

In [37]:
push_request(df_limpia, "viviyuca_limpia.csv", "Se envía primer scrapeo", "data")

Archivo actualizado con éxito

In [38]:
df_limpia["colloc"].sort_values().unique()

array(['aeropuerto', 'alcala martin', 'aleman', 'altabrisa', 'altavista',
       'ampliacion la hacienda', 'bella vista', 'benito juarez norte',
       'benito juarez oriente', 'bojorquez', 'bosques del poniente',
       'buenavista', 'bugambilias', 'cabo norte', 'campestre', 'canto',
       'carrillo ancona', 'castilla camara', 'caucel', 'centro',
       'chablekal', 'chichen itza', 'chichi suarez', 'chicxulub pueblo',
       'cholul', 'chuburna', 'chuburna de hidalgo', 'chuburna inn',
       'chuminopolis', 'cinco colonias', 'ciudad caucel',
       'ciudad industrial', 'club de golf la ceiba', 'cocoyoles',
       'colonial chuburna', 'conkal', 'del norte', 'del parque',
       'del sur', 'diaz ordaz', 'dzidzilche', 'dzitya', 'el arco',
       'el roble', 'el rosario', 'el triunfo', 'emiliano zapata nte',
       'emiliano zapata sur', 'esperanza', 'felipe carrillo puerto',
       'fidel velazquez', 'francisco de montejo',
       'francisco de montejo ii', 'francisco i madero', 'garcia gineres',
       'gonzalo guerrero', 'gran san pedro cholul', 'gran santa fe',
       'inalambrica', 'industrial', 'itzaes', 'itzimna',
       'jardines de merida', 'jardines de miraflores',
       'jardines de pensiones', 'jardines de rejoyada',
       'jardines de vista alegre', 'jardines del norte', 'jesus carranza',
       'jose maria iturralde', 'juan b sosa', 'juan pablo ii', 'kikteil',
       'komchen', 'kukulcan', 'la ceiba', 'la florida', 'la huerta',
       'la rejoyada', 'las aguilas (jose maria iturralde)',
       'las americas', 'las americas ii', 'las brisas', 'las fincas',
       'las margaritas de cholul', 'las palmas', 'lazaro cardenas',
       'lazaro cardenas ote', 'leandro valle', 'lindavista',
       'loma bonita', 'los alamos', 'los almendros', 'los heroes',
       'los pinos', 'lourdes', 'magnolias', 'maria luisa', 'maya',
       'mejorada', 'melchor ocampo', 'mercedes barrera', 'merida centro',
       'mexico', 'mexico norte', 'mexico oriente', 'miguel aleman',
       'miguel hidalgo', 'misnebalam', 'monte alban', 'montebello',
       'montecarlo', 'montecristo', 'montejo', 'monterreal',
       'montes de ame', 'morelos oriente', 'mulsay', 'norte',
       'nueva aleman', 'nueva mayapan', 'nueva sambula', 'nuevo yucatan',
       'paraiso', 'paraiso maya', 'parque central',
       'parque industrial yucatan', 'parque natura', 'paseos de opichen',
       'pedregales de tanlum', 'pensiones', 'plan de ayala sur',
       'plan de ayala sur iii', 'platino', 'poligono 108', 'prado norte',
       'progreso', 'real montejo', 'residencial camara de comercio norte',
       'residencial del norte ( chenku )', 'residencial floresta',
       'residencial pensiones iv', 'residencial sol campestre',
       'residencial valparaiso', 'residencial xcanatun', 'revolucion',
       'revolucion ( cordemex )', 'sacnicte', 'sambula', 'san antonio',
       'san antonio cinta', 'san antonio hool', 'san antonio kaua',
       'san antonio ool', 'san antonio xluch', 'san antonio xluch ii',
       'san antonio xluch iii', 'san carlos', 'san cristobal',
       'san esteban', 'san francisco chuburna', 'san gabriel tulipanes',
       'san jose', 'san jose tecoh', 'san juan', 'san juan bautista',
       'san luis', 'san miguel', 'san nicolas', 'san nicolas del sur',
       'san pedro cholul', 'san pedro uxmal', 'san ramon norte',
       'san sebastian', 'santa ana', 'santa cecilia',
       'santa cruz palomeque', 'santa gertrudis copo',
       'santa maria de chuburna', 'santa rita cholul', 'santa rosa',
       'santiago', 'serapio rendon', 'sian kaan', 'sitpach',
       'sodzil norte', 'tamanche', 'tanlum', 'temozon norte', 'terranova',
       'tixcacal', 'tixcacal opichen', 'tixcuytun', 'valle dorado',
       'vergel', 'vergel 65', 'vergel ii', 'vicente solis',
       'villa magna del sur', 'villa moderna', 'villas cholul',
       'villas de oriente', 'villas del mayab', 'villas del sol',
       'villas la hacienda', 'vista alegre', 'vista alegre norte',
       'wallis', 'x canatun', 'xcanatun', 'xcumpich', 'xoclan santos',
       'xoclan susula', 'yucalpeten', 'yucatan', 'yucatan country club',
       'zona dorada', 'zona dorada ii', nan], dtype=object)

In [39]:
#contar valores únicos de colloc
len(df_limpia["colloc"].unique())

219