In [8]:
from yucascraper.scrapers.terrenos import lamudi,goodlers,easybroker
import pandas as pd
import time
import random

In [9]:
# Listado
portales = [goodlers, easybroker, lamudi]
# df vacía
df = pd.DataFrame()

# proceso de scrapeo
for portal in portales:
    try:
        # Tiempo de inicio
        print("Proceso iniciado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        
        # Ejecuta la función de scraping
        df_portal = portal()  
        df = pd.concat([df, df_portal])
        
        # Records
        print("Número de registros: ", len(df))
        
    except Exception as e:
        # Si ocurre un error, lo imprime
        print(f"Ocurrió un error: {e}")
    
    finally:
        
        print("Proceso terminado a las ", time.strftime("%H:%M:%S"),"del día", time.strftime("%d/%m/%y"))
        print("--------------------------------------------------")
        
        # Sleep for a random time before the next iteration
        time.sleep(random.randint(1, 3))

df

Proceso iniciado a las  12:13:50 del día 28/11/23

Scraping Goodlers: 100%|██████████| 4/4 [00:09<00:00,  2.43s/it]

Número de registros:  58
Proceso terminado a las  12:14:00 del día 28/11/23
--------------------------------------------------
Proceso iniciado a las  12:14:03 del día 28/11/23

Scraping Easybroker: 100%|██████████| 100/100 [04:56<00:00,  2.96s/it]

Número de registros:  2458
Proceso terminado a las  12:18:59 del día 28/11/23
--------------------------------------------------
Proceso iniciado a las  12:19:00 del día 28/11/23

Scraping Lamudi: 100%|██████████| 100/100 [05:15<00:00,  3.15s/it]

Número de registros:  5458
Proceso terminado a las  12:24:36 del día 28/11/23
--------------------------------------------------

,desarrollador,oferta,fuente,localidad,precio_min,precio_max,fecha_consulta,precio,size,lat,lon,descripcion,mts_const
0,Real Portanza,conkal,goodlers,None,710400.0,1133521.0,2023-11-28 12:14:00.009556,NaN,NaN,NaN,NaN,NaN,NaN
1,Dzidzil-ha,dzidzilche,goodlers,dzidzilche,656383.0,1904896.0,2023-11-28 12:14:00.009556,NaN,NaN,NaN,NaN,NaN,NaN
2,Morabela,tixcuytun,goodlers,tixcuytun,1763231.0,3539757.0,2023-11-28 12:14:00.009556,NaN,NaN,NaN,NaN,NaN,NaN
3,Cuatro Lagos,sierra papacal,goodlers,sierra papacal,313053.0,666790.0,2023-11-28 12:14:00.009556,NaN,NaN,NaN,NaN,NaN,NaN
4,Vía Cholul,cholul,goodlers,cholul,1082368.0,1082368.0,2023-11-28 12:14:00.009556,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997,NaN,lote terreno en venta en conkal,lamudi,None,NaN,NaN,NaT,3351750.0,NaN,21.294653,-89.59548,excelente oportunidad de inversion inmejorable...,13.0
2998,NaN,lote terreno en venta en celestun,lamudi,None,NaN,NaN,NaT,45600000.0,NaN,21.005401,-90.333252,terreno frente al mar con 350 metros lineales ...,82.0
2999,NaN,lote terreno en venta en progreso centro,lamudi,None,NaN,NaN,NaT,12500000.0,NaN,21.005438,-90.332634,terreno frente al mar con 100 metros sobre la...,2.0
3000,NaN,lote terreno en venta en celestun,lamudi,None,NaN,NaN,NaT,66500000.0,NaN,None,None,,168.0
3001,NaN,lote terreno en venta en celestun,lamudi,None,NaN,NaN,NaT,19000000.0,NaN,None,None,,51.0